body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: vh;
  margin: 0; */
}

.name{
  text-align: center;
  font-size: 20px;
  padding: 20px;
  letter-spacing: 40px;

  
}

.name h1{
  width: 100%;
  letter-spacing: 10px;
}